.container {
  width: 100px;
  height: 60px;
  border-radius: 16px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.amount {
  margin-left: 5px;
  font-weight: bold;
}
