.button {
  border-radius: 50%;
  border: none;
  outline: none;
  font-weight: bold;
  width: 20px;
  height: 20px;
  &Inc {
    color: rgb(0, 148, 113);
    background-color: rgba(0, 148, 113, 0.2);
    &:hover {
      background-color: rgba(0, 148, 113, 0.25);
    }
  }

  &Dec {
    color: rgb(163, 163, 163);
    background-color: rgba(163, 163, 163, 0.2);
    &:hover {
      background-color: rgba(163, 163, 163, 0.25);
    }
  }
}

.input {
  color: inherit;
  font-weight: bold;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  text-align: center;
  border: none;
}
